doctype html
html
   head
      title= "Chronicles of Ashenfall"
      meta(name="facebook-domain-verification" content="hcxb7lypav9l3hakqajig8dotp2po0")
   body
      img(src = "/images/teaser.png", alt = "Coming Soon")